h3 {
  color: green;
  font-style: italic;
}

.worker {
  color: gray;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1.2em;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}